{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": [
		"@typescript-eslint/eslint-plugin"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"rules": {
		"quotes": [ "error", "single" ],
		"indent": [ "error", "tab" ],
		"sort-keys": "off",
		"ordered-imports": "off",
		"no-trailing-spaces": [ "error", { "skipBlankLines": true } ],
		"no-console": "off",
		"comma-dangle": [ "error", "always-multiline" ],
		"no-unused-expressions": "off",
		"linebreak-style": [ "error", "unix" ],
		"semi": [ "error", "always" ],
		"no-unused-vars": "off",
		"no-undef": "off",
		"no-async-promise-executor": "off",
		"no-prototype-builtins": "off",
		"@typescript-eslint/explicit-function-return-type": "off",
		"@typescript-eslint/no-var-requires": "off",
		"@typescript-eslint/no-explicit-any": "off",
		"@typescript-eslint/no-unused-vars": "off",
		"@typescript-eslint/ban-ts-ignore": "off",
		"@typescript-eslint/no-use-before-define": "off"
	}
}
